/** HTML tags */

body {
	margin: 0; 
	padding: 0;
	height: 100%; 
	width: 100%; 
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 0.875em;
}


/** Header */

#header {
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 80px; 
	width: 100%; 
	bottom left repeat-x; 
	z-index: 1; 
}

#logo {
	position: absolute;
	top: 15px;
	left: 5px;
}

#search_boxes {
	position: absolute;
	top: 25px;
	left: 340px;
	width: 710px;
}

#search_events_box_form {
	float: left;
}

#search_events_box {
	color: gray; 
	font-size: 100%;
	height: 25px; 
	width: 300px; 
	vertical-align: middle;
}

#near_label {
	float: left; 
	font-size: larger; 
	vertical-align: middle; 
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

#set_location_box_form {
	float: left;
}

#set_location_box {
	float: left; 
	color: gray; 
	font-size: 110%;
	height: 25px; 
	width: 300px; 
	vertical-align: middle;
}

#search_button {
	float: left;
	margin-left: 5px;
}

#sharing {
	position: absolute;
	top: 5px;
	right: 5px;
}

#status {
	background-color: #F7F8E0; 
	font-weight: bold;
	position: absolute;
	top: 60px;
	left: 340px;
	height: 20px;
	width: 665px;
}


/** Left navigation panel */

#navigation {
	position: absolute; 
	top: 85px; 
	left: 0px; 
	bottom: 0; 
	width: 340px; 
	padding-left: 0px; 
}

#events_container_table {
	border-top: 2px #FF9331 solid;
	border-bottom: 2px #FF9331 solid;
	width: 100%; 
}

#events_title_cell {
	font-size: 18px; 
	width: 65%;
}

#events_filters_cell {
	text-align: right;
}

#categories_filter {
	cursor: pointer;
}

#selected_category {
	color: #0D83DD; 
	font-size: 12px;
}

#time_filters_cell {
	text-align: right;
}

#time_filter {
	cursor: pointer;
}

#selected_time {
	color: #0D83DD; 
	font-size: 12px;
}

#events_list {
	height: 94%;
	width: 100%;
	overflow: auto;
}

#movies_scroller_item {
	background-color: #F7F8E0; 
	cursor: pointer; 
	cursor: hand;
	font-size: 110%;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 32px;
	width: 100%; 
	vertical-align: center;
}

#movie_scroller_image {
	float: left;
}

#movie_scroller_link {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

#events_scroller {
	width: 100%;
}

.events_scroller_item {
	width: 100%; 
	cursor: pointer; 
	cursor: hand;
}

.events_scroller_item_id {
	background-color: #FF9331;
	font-size: larger; 
	font-weight: bold; 
	text-align: center;
	width: 15px;
}

.events_scroller_category_image {
	border: 0; 
	width: 32px;
}

.events_scroller_venue {
	font-size: 12px; 
	width: 170px;
}

.events_scroller_start_date {
	color: gray; 
	font-size: 12px; 
	text-align: right;
}

#loader_container {
	text-align: center;
	margin-top: 200px;
}

#no_events_container {
	width: 100%;
	font-weight: bold; 
	text-align: center;
}


/** Map */

#map_canvas {
	position: absolute; 
	top: 85px; 
	left: 340px; 
	right: 0; 
	bottom: 0;
}

#shadow_horizontal { 
	position: absolute; 
	left: 340px; 
	top: 85px; 
	bottom: 0; 
	width: 5px; 
	z-index: 1000; 
}

#shadow_horizontal div { 
	float: left; 
	height: 20000px; 
	width: 1px; 
	font-size: 1px; 
	background-color: #000000; 
	display: inline; 
	overflow: hidden; 
}

#shadow_vertical { 
	position: absolute; 
	left: 340px; 
	right: 0; 
	top: 85px; 
	height: 5px; 
	z-index: 1000; 
}

#shadow_vertical div { 
	position: relative; 
	width: 100%; 
	height: 1px; 
	font-size: 1px; 
	background-color: #000000; 
	overflow: hidden; 
}

#shadow .opacity1 { opacity: .4; filter: alpha(opacity=40); }
#shadow .opacity2 { opacity: .32; filter: alpha(opacity=32); }
#shadow .opacity3 { opacity: .24; filter: alpha(opacity=24); }
#shadow .opacity4 { opacity: .16; filter: alpha(opacity=16); }
#shadow .opacity5 { opacity: .08; filter: alpha(opacity=8); }


/** Groupon */

#groupon_deals {
	background-color: #F7F8E0; 
	border: 3px solid #76A045;
	color: #76A045;
	font-size: smaller;
	font-weight: bold;
	padding: 3px;
	position: absolute; bottom: 15px; right: 5px; z-index: 2; 
	text-align: left;
	height: 220px;
	width: 200px;
	overflow-y: scroll;
}

#powered_by_groupon {
	background-color: #F7F8E0; 
	border-top: 3px solid #76A045;
	border-left: 3px solid #76A045;
	border-right: 3px solid #76A045;
	height: 40px;
	width: 207px;
	position: absolute; bottom: 247px; right: 5px; z-index: 2; 
}
